<html>

<head>
    <script>
        function myFunction(e) {
            text_box = document.getElementsByClassName('inputs');
            span_obj = document.getElementsByClassName('message');
            count = 0;
             if (text_box[0].value == '') {
             	text_box[0].style.borderColor = 'red';
             	span_obj[0].innerHTML = 'Please enter your value';
             	span_obj[0].style.color = 'red';
             	count+= 1;
             }
             else{
             	if(isNaN(text_box[0].value)) {
             	text_box[0].style.borderColor = 'red';
             	span_obj[0].innerHTML = 'Please enter numeric value';
             	span_obj[0].style.color = 'red';
             	count+=1;
             }
             else{
             	text_box[0].style.borderColor = '';
             	span_obj[0].innerHTML = '';
             }
             	
             }
             if (text_box[1].value == '') {
             	text_box[1].style.borderColor = 'red';
             	span_obj[1].innerHTML = 'Please enter your value';
             	span_obj[1].style.color = 'red';
             	count += 1;
             }
            else{ 
            	if(isNaN(text_box[1].value)) {
                text_box[1].style.borderColor = 'red';
             	span_obj[1].innerHTML = 'Please enter numeric value';
             	span_obj[1].style.color = 'red';
             	count += 1;
            }
            else{
             	text_box[1].style.borderColor = '';
             	span_obj[1].innerHTML = '';
             }
         }
             if (count == 0){
             	e.disabled = true;
                result_element = document.createElement('input');

                result = Number(text_box[0].value) + Number(text_box[1].value);

                result_element.setAttribute('type', 'text');
                result_element.setAttribute('readonly', true);
                result_element.setAttribute('value', result);

                document.getElementsByTagName('div')[0].append(result_element);
            }
            else{
            	return false;
            }
        }
    </script>
</head>

<body>
	<form>
    <input type="text" id="num1" class="inputs">
    <span class = "message"></span><br><br>
    <input type="text" id="num1" class="inputs">
    <span class = "message"></span><br><br>
    <input type="submit" value="Submit" onclick="return myFunction(this)"><br><br>
</form>
    <div></div>

</body>

</html>